.login-container{
    min-height:100vh;
    background:#0f1115;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:100%;
    max-width:420px;
    background:#181c23;
    border-radius:14px;
    padding:35px;
    border:1px solid #2b313b;
}

.logo-container{
    text-align:center;
    margin-bottom:30px;
}

.logo-image{
    width:70px;
    margin:auto;
    margin-bottom:15px;
}

.logo-container h1{
    color:#fff;
    font-size:32px;
    margin-bottom:10px;
}

.logo-container p{
    color:#9ca3af;
    font-size:15px;
}

.error-box{
  background:rgba(239,68,68,.15);
  border:1px solid #ef4444;
  color:#fecaca;
  padding:12px;
  border-radius:8px;
  margin-bottom:20px;
  text-align:center;
  font-size:14px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    color:#d1d5db;
    margin-bottom:8px;
    margin-top:18px;
}

input{
    padding:14px;
    border-radius:8px;
    border:1px solid #374151;
    background:#111317;
    color:white;
    font-size:15px;
    outline:none;
}

input:focus{
    border-color:#f97316;
}

button{
    margin-top:30px;
    padding:14px;
    background:#f97316;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

button:hover{
    background:#ea580c;
}

button:disabled{
    opacity:.7;
    cursor:not-allowed;
}