.search-container{
    width:100%;
    display:flex;
    align-items:center;
    gap:20px;
}

.search-container input{
    flex:1;
    height:56px;
    padding:0 20px;
    border:1px solid #475569;
    border-radius:14px;
    background:#111214;
    color:#ffffff;
    font-size:16px;
    outline:none;
}

.search-container input::placeholder{
    color:#94a3b8;
}

.search-btn{
    width:160px;
    height:56px;
    background:#f97316;
    color:#ffffff;
    border:none;
    border-radius:14px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.search-btn:hover{
    background:#ea580c;
}

@media(max-width:768px){

.search-container{
    flex-direction:column;
}

.search-btn{
    width:100%;
}

}