.diet-group{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.diet-btn{
    padding:11px 18px;
    border-radius:10px;
    background:#111214;
    border:1px solid #374151;
    color:#ffffff;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.diet-btn.active{
    background:#f97316;
    border-color:#f97316;
}

.diet-btn:hover{
    border-color:#f97316;
}